*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    overflow-y: scroll;
}

body{
    width: 100%;
    background: linear-gradient(45deg, #010758, #490d61);
    color: #fff;
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    text-shadow: #000000 2px 2px 10px;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6a74e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);

}

form input{
    flex: 1;
    width: 50%;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    margin-right: 15px;
    font-weight: 500;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: #000000 2px 2px 2px;
}

form button{
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    background: #d545c2;
    color: #e8dfdf;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    text-shadow: #000000 2px 2px 4px;
    box-shadow: #000000 2px 2px 10px;
}

::placeholder{
    color: #685e5e;
    font-weight: 500;
    font-size: 14px;
}

#show-more-btn{
    margin: 10px auto 100px;
    font-size: 15px;
    color: #f9f1f1;
    background: #c54f4f;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    padding: 10px 20px;
    box-shadow: #000000 2px 2px 10px;
    text-shadow: #100606 1px 1px 2px;
    font-weight: 550;
}

#search-result{
    width: 70%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: #000000 2px 2px 10px;
    image-rendering: optimizeQuality;
}


span{
    color: #7babe1;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-left: 5px;
    text-shadow: #000000 2px 2px 10px;
}